<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GeoNotes</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/app.css">
    <script src="js/lib/modernizr-2.5.3.min.js"></script>    
  </head>
  <body>
    <div class="install-error"></div>
    <div class="install-ios-msg">
      To install, press the forward arrow in Safari and touch "Add to
      Home Screen"
    </div>
    <h1>GeoNote</h1>
    <section id="note-list">
      <ul></ul>
      <a id="add-note" href="#add"><i class="icon-plus-sign"></i>Add Note</a>
    </section>
    <button class="install-btn">Install</button>    
    <script id="note-list-template" type="text/template">
      <li>
        <span class="text"><%= position.lat %>,<%= position.lng %>: <%= text %></span>
        <span class="meta">
          <span class="badge distance">9.7m</span>
          <i class="icon-chevron-right"></i>
        </span>
      </li>
    </script>
    <script type="text/javascript" data-main="js/app.js" src="js/lib/require.js"></script>
  </body>
</html>
