<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GeoNotes</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/app.css">
    <script src="js/lib/modernizr-2.5.3.min.js"></script>    
  </head>
  <body>

    <div id="pages">

      <div class="page" id="viewNotes">
        <div id="header"><h1>GeoNote</h1></div>
        <div id="note-border">
            <section id="note-list">
              <ul></ul>
            </section>
        </div>
        <div id="add-note">
          <a href="#add"><i class="icon-plus-sign"></i>Add Note</a>
          <a href="#dino"><i class="icon-star"></i>Dinosaur</a>
        </div>
        <div id="list-view"><a href="#listview">List View</a></div>
        <div id="map-view"><a href="#mapview">Map View</a></div>
      </div>

      <div class="page" id="addNote">
        <form id="addNote">
          <fieldset>
            <legend>Add Note</legend>
            <textarea class="field" name="noteText" id="noteText" placeholder="Enter note"></textarea>
            <div id="add_coords">
              <button id="btnAdd" type="submit" class="btn">Add</button> to
              <span id="coordsView"></span>
            </div>
          </fieldset>
        </form>
      </div>

      <div class="page" id="viewDino"></div>

    </div>



    <script id="note-list-template" type="text/template">
      <% 
      var distance_display = '';
      if (distance.miles > 0) {
        distance_display = distance.miles + ' mi';
      } else if (distance.yards > 0) {
        distance_display = distance.yards + ' yds';
      } else {
        distance_display = distance.feet + ' ft';
      }
      %>
      <li>
      <span class="text"><%= text %></span>
        <span class="meta">
          <span class="badge distance"><%= distance_display %></span>
          <i class="icon-chevron-right"></i>
        </span>
      </li>
    </script>

    <script type="text/javascript" data-main="js/config.js" src="js/lib/require.js"></script>

  </body>
</html>
