
@import "defaults.css";

/* Uncomment these to use Twitter Bootstrap */
@import "bootstrap.css";
@import "bootstrap-responsive.css";

/* Your styles here */
body {
  background-color: #629BC4;
  }
  
h1 {
  
  text-align: center; 
  color: white;
  margin-bottom: .3em;
  margin-top: .3em;
  }
  
#note-border { 
  background-color:white;
  border-style: solid;
    border-width: 2px; 
    border-color: #A3A3A3; 
  	border-radius: 10px;
  }
  
#note-list { 
  padding: 0.5em 0; 
  } 
  
  #note-list ul { 
    list-style-type: none; 
    margin: 0; 
    }
    
  #note-list ul li {
    overflow: hidden; 
    height: 1.7em; 
    position: relative; 
    font-size: 1.5em; 
    padding: .2em 4em .2em 0;
    text-overflow: ellipsis;
    border-bottom: solid;
    border-width: 2px; 
    border-color: #A3A3A3; 
    }
  
  #note-list div:last-child li{
    overflow: hidden; 
    height: 1.7em; 
    position: relative; 
    font-size: 1.5em; 
    padding: .2em 4em .2em 0;
    text-overflow: ellipsis; 
    border: 0;
    }


  #note-list .text {
      white-space: nowrap; 
    }

  #note-list .meta { 
      position: absolute;
      right: 0;
      top: 0; 
      }

#add-note {
  padding-top: 5px;
  background-color: white;
  text-align: center;
  margin-top:10px;
  height: 25px;
  border-style: solid;
    border-width: 2px; 
    border-color: #A3A3A3; 
    border-radius: 10px;
  }

  #add-note a{
    font-size: 1.5em;}
  
button.install-btn {
    padding: 0;
    width: 100%; 
    }

#viewDino {
  text-align: center;
  }
#viewDino a {
  display: block;
}
#viewDino img {
  width: 70%;
  }

#list-view, #map-view {

	padding-top: 5px;
	width: 50%;
	background-color: white;
	text-align: center;
	margin-top:10px;
	height: 25px;
	border-style: solid;
  	border-width: 2px; 
  	border-color: #A3A3A3; 

	}

#list-view {
	position: fixed;
	bottom: 0;
	left: 0%;
	}

#map-view {
	position: fixed;
	bottom: 0;
	right: 0%;
}

button.install-btn {
    padding: 0;
    width: 100%; 
    }

#viewDino {
  text-align: center;
  }
#viewDino a {
	padding-top: 5px;
	position: fixed;
	bottom: 2px;
	left: 37%;
	width: 25%;
	background-color: white;
	text-align: center;
	margin-top:10px;
	height: 25px;
	border-style: solid;
		border-width: 2px; 
		border-color: #A3A3A3; 
		border-radius: 10px;
  
}
#viewDino img {
  margin-top: 5em;
  width: 70%;
  }
